<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.bme.myapplication"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MatchAdapterActivity"

            android:label="Match Details"

            ></activity>
        <activity android:name=".CamerasActivity"

            android:label="Camera Settings" />
        <activity
            android:name=".Sender"
            android:label="Sender" />
        <activity
            android:name=".MatchActivity"
            android:label="Match Details" />
        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_results" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_results">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InitActivity"
            android:label="@string/title_activity_init"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".CameraActivity"
             />

        <service android:name=".streaming.rtsp.RtspServer" />
    </application>

</manifest>